#
# https://help.github.com/articles/about-codeowners/
#

/docs/                              @lijiarui @hczhcz @TingYinHelen @ax4
/example/                           @Gcaufy @hczhcz
/src/puppet-web/bridge.*.ts         @mukaiu
/src/puppet-web/browser.ts          @binsee
/src/puppet-web/browser-driver.*.ts @xjchengo
/src/puppet-web/event.ts            @binsee
/src/puppet-web/firer.*.ts          @xinbenlv
/src/puppet-web/wechaty-bro.js      @binsee @mukaiu @hczhcz @cherry-geqi @zhenyong
